@font-face {
    font-family: 'OpenSans-Var';
    src: url("../../fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #1E1E1E;
    font-family: 'OpenSans-Var', sans-serif;
    color: white;
}

.upper-panel {
    display: flex;
    height: 10vh;
    padding: 1vh;
    white-space: 100%;
    align-items: center;
    gap: 2rem;
}

.upper-panel p {
    font-size: large;
}

.logo-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.logo {
    background-image: url("../../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    aspect-ratio: 1 / 1;
}

.main-logo {
    background-image: url("../../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    width: 25%;
    opacity: 0;

    animation: .7s .2s show-anim forwards;
}

.coddy-link {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.coddy-link:hover {
    text-decoration: underline;
}

.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    padding-top: 2rem;
}

.main-panel h1 {
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(90deg, #e9934d, #e22d00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.main-panel h2 {
    font-weight: 600;
    font-size: 2rem;
    background: linear-gradient(90deg, #4dcae9, #0075e2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin: 0;
}

.main-panel p {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;

    animation: .7s .4s show-anim ease forwards;
}

@keyframes show-anim {
    from {
        transform: translateY(50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}